<div class="form-group">
<%= form_for @seller do |f| %>
  <%= f.label :name, :class=>"form-control col-md-2" %>
  <%= f.text_field :name, :required => true, :autofocus => true, :class=>"form-control col-md-4" %>
  <br>
  <%= f.label :Phone, :class=>"form-control col-md-2" %>
  <%= f.text_field :phone_no, :class=>"form-control col-md-4" %>
  <br>
  <%= f.submit class: "btn btn-primary btn-lg"  %>

<% end %>
</div>
