<h3><%= @seller.name %> Details.....</h3>
<div>
<h4>Personal Information :</h4>
<ul>
  <li>Phone_no      : <%= @seller.phone_no %></li>
  <li>Owners linked :  </li> 
  <ul>
  <% @seller.owners do |owner| %>
  <li>Name          : <%= owner.name %></li>
  <li>Phone Number  : <%= owner.phone_no %></li>
  <li>Email Id      : <%= owner.email %></li>
  <% end %>
  </ul>
</ul>
</div>
<h4>Open Properties :</h4>
<% @seller.properties.each do |property| %>
  <% if property.main_image.present? %>
  <%= link_to image_tag(property.main_image), property %>
  <% else %>
  <%= link_to image_tag('/assets/images.jpeg'), property %>
  <% end %>
<% end %>

<div class="controls">
  <%= link_to "Edit Details", edit_seller_path(@seller) %>
  <%= link_to "Delete #{ @seller.name }", @seller, :method => 'delete' %>
</div>
