<h1>Property Details</h1>

<%= image_tag(@property.main_image) if @property.main_image.present? %>
<%= image_tag(@property.image1) if @property.image1.present?%>
<%= image_tag(@property.image2) if @property.image2.present?%>
<%= image_tag(@property.image3) if @property.image3.present?%>

<% if @property.seller.present?  %>
<h2> Seller <%= @property.seller.name %> Details ....</h2>
<ul>
  <li>Phone_no      : <%= @property.seller.phone_no %></li>
  <li>Email address : <%= @property.seller.email %></li>
</ul>
<% end %>

<div class="controls">
  <%= link_to "Edit Property", edit_property_path(@property) %>
  <%= button_to "Delete Property", @property, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
