<h1>Property Details</h1>

<%= image_tag(@property.main_image) if @property.main_image.present? %>
<%= image_tag(@property.image1) if @property.image1.present?%>
<%= image_tag(@property.image2) if @property.image2.present?%>
<%= image_tag(@property.image3) if @property.image3.present?%>
<ul>
  <li>Location             : <%= @property.location %></li>
  <li>Price                : <%= @property.price %></li>
  <li>Construction Year    : <%= @property.price %></li>
  <li>Type                 : <%= @property.property_type %></li>
  <li>Bedrooms             : <%= @property.bedrooms %></li>
  <li>Bathrooms            : <%= @property.bathrooms %></li>
  <li>CarSpaces            : <%= @property.car_spaces %></li>
  <li>Landsize             : <%= @property.landsize %></li>
  <li>Bonus Features       : <%= @property.bonus_features %></li>
  <li>Status               : <%= @property.status %></li>
</ul>

<h2>Contact Details......</h2>
<% if @property.seller.present?  %>
<h3> Seller <%= @property.seller.name %> Details ....</h3>
<ul>
  <li>Phone Number  : <%= @property.seller.phone_no %></li>
  <li>Email Id      : <%= @property.seller.user.email %></li>
  <li>Owners        :
    <ul>
    <% @property.seller.owners do |owner| %>
    <li>Name          : <%= owner.name %></li>
    <li>Phone Number  : <%= owner.phone_no %></li>
    <li>Email Id      : <%= owner.email %></li>
    <% end %>
    </ul>
    </li>
</ul>
<% end %>

<div class="controls">
  <%= link_to "Edit Property", edit_property_path(@property) %>
  <%= button_to "Delete Property", @property, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
