<h1>Welcome to Sydney Property Seller Site......</h1>

<h2 class="text-primary" >Search for your Dream Home.....</h2>

  <%= form_tag properties_path, :method => "get", :html => {:class => "form-horizontal center"}  do %>
    <div class="form-group">
    <%= label_tag :Location %>
     <div class="col-md-8">
       <%= text_field_tag :location %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Price %>
    <div class="col-md-8">
      <%= number_field_tag :price  %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Type %>
    <div class="col-md-8">
      <%= text_field_tag :property_type %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Bedrooms %>
    <div class="col-md-8">
      <%= number_field_tag :bedrooms %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Bathrooms %>
    <div class="col-md-8">
      <%= number_field_tag :bathrooms  %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Car_Spaces %>
    <div class="col-md-8">
      <%= number_field_tag :car_spaces %> <br>
    </div>
    </div>
    <div class="form-group" >
    <%= label_tag  :Landsize %>
    <div class="col-md-8">
      <%= number_field_tag :landsize %> <br>
    </div>
    </div>
    <div>
    <%= submit_tag "Search", name: nil , class: "btn btn-primary btn-lg ", 'data-toggle': "tooltip", 'data-placement': "bottom", title: "Search" %>
    </div>
  <% end %>
