<h1>Welcome to Sydney Property Seller Field......</h1>

<% @properties.each do |property| %>
<ul>
  <li>Location : <%= @property.location %></li>
  <li>Price : <%= @property.price %></li>
  <li>Type : <%= @property.property_type %></li>
  <li>Bedrooms : <%= @property.bedrooms %></li>
  <li>Bathrooms : <%= @property.bathrooms %></li>
  <li>Car Spaces : <%= @property.car_spaces %></li>
  <li>Landsize : <%= @property.landsize %></li>
</ul>
<% end %>
