<h1>Welcome to Sydney Property Seller Site......</h1>

<h2>Search for your Dream Home.....</h2>

<%= form_tag properties_path, :method => "get"  do %>

  <%= label_tag :Location %>
  <%= text_field_tag :location, params[:location] %> <br>
  <%= label_tag  :Price %>
  <%= number_field_tag :price %> <br>
  <%= label_tag  :Type %>
  <%= text_field_tag :property_type%> <br>
  <%= label_tag  :Bedrooms %>
  <%= number_field_tag :bedrooms%> <br>
  <%= label_tag  :Bathrooms %>
  <%= number_field_tag :bathrooms%> <br>
  <%= label_tag  :Car_Spaces %>
  <%= number_field_tag :car_spaces%> <br>
  <%= label_tag  :Landsize %>
  <%= number_field_tag :landsize%> <br>

  <%= submit_tag "Search", name: nil %>
<% end %>

<!-- <form action="/properties" method="get">

  <label>
    Location :
    <input type="text" name="location" > <br>
  </label>

  <label>
    Price :
    <input type="number" name="price"> <br>
  </label>

  <label>
    Type:
    <input type="text" name="property_type"> <br>
  </label>

  <label>
    Bedrooms :
    <input type="number" name="bedrooms"> <br>
  </label>

  <label>
    Bathrooms :
    <input type="number" name="bathrooms"> <br>
  </label>

  <label>
    Car Spaces :
    <input type="number" name="car_spaces"> <br>
  </label>

  <label>
    Landsize:
    <input type="number" name="landsize"> <br>
  </label>


</form> -->
